header{
  background-color: transparent;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;


}
.about-me{
  width: 100%;
  display:flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
}


footer{
  background-color: transparent;
  width: 100%;
  padding-bottom: 100px;
  padding-top:100px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;


}

.menu{
  background-color:$primarycolor;
  list-style: none;
  border-radius: 50px;
  padding:10px;
  width: 100%;



}
.list-menu{
  padding: 20px;
}

.small-menu{
background-color: $light;
list-style: none;
border-radius: 50px;
padding:10px;
width: 65%;
margin:0;
}

.list-small-menu{
  padding: 20px;
}
