h1{
  font-family:$primarytext;
  font-size: 65px;
  color: $primarycolor;
  }

  h2{
    font-family: $primarytext;
    font-size: 50px;
    color:$primarycolor;
  }

p{
  font-family:$secondarytext;
  font-size: 25px;
  color: $light;
 }
 .listmenu{
   font-family: $secondarytext;
   font-size: 15px;
   color: $medium
 }
