h1{
  font-family:$primarytext;
  font-size: 80px;
  color: $primarycolor;
  }

  h2{
    font-family: $primarytext;
    font-size: 60px;
    color:$primarycolor;
  }

p{
  font-family:$secondarytext;
  font-size: 30px;
  color: $light;
 }
 .listmenu{
   font-family: $secondarytext;
   font-size: 12px;
   color:$darck;
 }
 .list-small-menu{
   font-family: $secondarytext ;
   font-size:12px;
   color:$darck;
 }
